Flask==3.1.0
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.7
Flask-WTF==1.2.2
riotwatcher==3.3.0
requests==2.32.3
APScheduler==3.10.4
python-dotenv==1.0.1
email-validator==2.2.0
waitress==3.0.2
gunicorn==23.0.0
psycopg2-binary==2.9.10
WTForms==3.2.1
Werkzeug==3.1.3
